{
  "extends": "eslint-config-egg/typescript",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "semi": "off",
    "@typescript-eslint/semi": ["off"],
    "@typescript-eslint/no-var-requires": ["off"],
    "comma-dangle": ["off"]
  }
}
